<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta  name="viewport" content="width=device-width, initial-scale=1">
<title>Register</title>

<script src="/static/js/register.js"></script>

</head>
<body style="background-color:lightyellow;">
<br><br>

<center>
<h2>Register</h2>
<br>
{% if errorMsg %} {{ errorMsg }} {% endif %}
<br>
<div>
<form name='myform' action='' method='POST'>

<label for='username'>Username :- </label>
<input type='text' id='username' name='username' /> <br>

<label for='name'>Name :- </label>
<input type='text' id='name' name='name' /> <br>

<label for='email'>E-Mail :- </label>
<input type='text' id='email' name='email' /> <br>

<label for='passwd'>Password :- </label>
<input type='password' id='passwd' name='passwd' /> <br>

<label for='repasswd'>Re-enter password :- </label>
<input type='password' id='repasswd' name='repasswd' /> <br> <br>
{% csrf_token %}
</form>

<button type='button' onclick="validate()" > Submit </button>
</div>
</center>



</body>

</html>